header {
  justify-content: space-between;
  margin-bottom: 2rem;
   display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
  background-color: #020917;
  color: #ffffff;
  text-align: center;
}

footer {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.8rem;
  padding: 1rem;
  width: 100%;
  background-color: #020917;
  color: #ffffff;
}

/* Tipografía global */
body {
  font-family: "Merriweather", Georgia, serif;
  color: #020917; 
  background-color: #ffffff;

}

/* Título principal */
h1 {
  font-family: "Merriweather", Georgia, serif;
  color: #020917;
  font-size: 2rem; 
  font-weight: 700;
}

/* Subtítulo */
h2 {
  font-family: "Merriweather", Georgia, serif;
  color: #020917;
  font-size: 1.5rem;
  font-weight: 600;
}

/* Notas o textos secundarios */
.notes {
  font-family: "Merriweather", Georgia, serif;
  color: #2a2e38;
  font-size: 0.9rem;
}

/* Enlaces y otros elementos destacados */
a,
.link {
  font-family: "Merriweather", Georgia, serif;
  color: #0E40A4;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover,
.link:hover {
  color: #1252D3; /* tono más oscuro en hover */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Card */
.card {
  padding: 2em;
  background-color: #ffffff;
  color: #020917;
  border-radius: 0.5em;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
/* Botones */
button {
  background-color: #020917;
  color: #ffffff;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  transition: background-color 0.3s;
}


button:hover {
  background-color: #0E40A4;
  color: #ffffff;
}

/* Inputs */
input, select, textarea {
  background-color: #D0DEFB;
  color: #020917;
  border: 1px solid #020917;
  padding: 0.5em;
  border-radius: 0.3em;
  transition: border-color 0.3s, background-color 0.3s;
}

input:hover, select:hover, textarea:hover,
input:focus, select:focus, textarea:focus {
  border-color: #0E40A4;
  outline: none;
}
.logo {
  border-radius: 50%;
   height: 50px;       
  margin-left: 2px; 
  align-items: center;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
  
}
.menu-button {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.login-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

