
:root {
  font-family: "Merriweather", Georgia, serif;
  line-height: 1.5;
  font-weight: 400;

 color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #020917;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  margin-bottom: 2rem;
  text-align: center;
  padding: 1rem;
  width: 100%;
  background-color: #020917;
  color: #ffffff;
}

footer {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.8rem;
  padding: 1rem;
  width: 100%;
  background-color: #020917;
  color: #ffffff;
}

/* Fondo general y texto */
body {
  background-color: #ffffff; /* fondo blanco */
  color: #020917; /* texto principal */
  align-items: center;
  text-align: center;
  border-radius: 7%;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.logo {
  border-radius: 50%;
  height: 35px;     
  margin-left: 2px; 
  align-items: center;
}
.menu-button {
  margin-right: 20px; /* separa del texto */
}

.login-button {
  margin-left: 20px; /* separa del texto */
}

/* el login */

.form-container {
  background-color: #f9f9f9; /* fondo claro para el formulario */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
}
.form-container h2 {
  margin-bottom: 1.5rem;
  color: #020917; /* título oscuro */
}

